.headerContainer {
    background-color: var(--blue-dark);
    color: var(--white);
    height: 4rem;
    padding: 2rem 4rem;

    display: flex;
    justify-content: space-between;
    align-items: center;

    img {
        width: 8rem;
        padding: 0.5rem;
        border-radius: 0.5rem;

        &:hover {
            background-color: var(--blue-soft);
            filter: brightness(0.8);
        }
    }

    p {
        font-size: 1.2rem;
    }

    div {
        display: flex;
        flex-direction: column;
        align-items: center;
        
        img {
            width: 2rem;
            background-color: var(--blue-medium);
            padding: 5px;
            border-radius: 50%;
        }

        p {
            font-size: 0.8rem;
        }
    }
}