.footer {
    background-color: #2155ca;
    color: white;
    display: flex;
    padding: 1rem;
    color: black;
    justify-content: center;
    
    img {
        width: 10px;
        margin-right: 5px;
    }
}