.footer {
    background-color: var(--blue-dark);
    display: flex;
    padding: 1rem;
    color: var(--white);
    justify-content: center;
    
    img {
        width: 10px;
        margin-right: 5px;
    }
}